[Desktop Entry]
Encoding=UTF-8
Name=Human Interface
Comment=ISAE interface for wheel application
Categories=Application
Version=1.0
Type=Application
Terminal=0

Icon=/home/master26/ems26/m.khalil/NetBeansProjects/Courseware/interface/Interface.png
Exec=env http_proxy= /home/master26/ems26/m.khalil/NetBeansProjects/Courseware/interface/Interface.AppImage
