[Desktop Entry]
Encoding=UTF-8
Name=Apache NetBeans IDE 13
Comment=The Smarter Way to Code
Exec=/usr/local/netbeans-13/bin/netbeans
Icon=/usr/local/netbeans-13/nb/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0

