[Desktop Entry]
Encoding=UTF-8
Name=Xenomai Alchemy Documentation
Type=Link
URL=https://gitlab-pages.isae-supaero.fr/l.alloza/doc-xenomai3/group__alchemy.html
Icon=text-html
